<div class="table-responsive">
    <table class="table-bordered table-striped text-nowrap" style="width: 100%;">
        <tbody>
        <tr>
            <td>
                Hạng mục công việc
            </td>
            <td>
                Gói 1
            </td>
            <td>
                Gói 2
            </td>
            <td>
                Gói 3
            </td>
        </tr>
        <tr>
            <td>
                Lập kế hoạch
            </td>
            <td>
                ✔
            </td>
            <td>
                ✔
            </td>
            <td>
                ✔
            </td>
        </tr>
        <tr>
            <td>
                Tối ưu fanpage chuẩn SEO
            </td>
            <td>
                <span style="color:red">✘</span>
            </td>
            <td>
                ✔
            </td>
            <td>
                ✔
            </td>
        </tr>
        <tr>
            <td>
                Bài viết
            </td>
            <td>
                10 bài
            </td>
            <td>
                16 bài
            </td>
            <td>
                26 bài
            </td>
        </tr>
        <tr>
            <td>
                Thiết kế ảnh chuyên nghiệp theo bài<span style="color:red">*</span>
            </td>
            <td>
                5 bài
            </td>
            <td>
                8 bài
            </td>
            <td>
                14 bài
            </td>
        </tr>
        <tr>
            <td>
                Cover fanpage
            </td>
            <td>
                <span style="color:red">✘</span>
            </td>
            <td>
                1 cover/tháng
            </td>
            <td>
                1-2 cover/tháng
            </td>
        </tr>
        <tr>
            <td>
                Tăng like fanpage
            </td>
            <td>
                <span style="color:red">✘</span>
            </td>
            <td>
                30 like/tháng
            </td>
            <td>
                50 like/tháng
            </td>
        </tr>
        <tr>
            <td>
                Tổng lượt cảm xúc/tháng
            </td>
            <td>
                50
            </td>
            <td>
                160
            </td>
            <td>
                400
            </td>
        </tr>
        <tr>
            <td>
                Tổng lượt chia sẻ/tháng
            </td>
            <td>
                12
            </td>
            <td>
                40
            </td>
            <td>
                120
            </td>
        </tr>
        <tr>
            <td>
                Báo cáo, phân tích
            </td>
            <td>
                ✔
            </td>
            <td>
                ✔
            </td>
            <td>
                ✔
            </td>
        </tr>
        <tr>
            <td>
                Chi phí (Chưa VAT)
            </td>
            <td>
                2.300.000
            </td>
            <td>
                3.500.000
            </td>
            <td>
                5.700.000
            </td>
        </tr>
        </tbody>
    </table>
</div>

<p><em><strong><span style="color:#c0392b;">*Đăng ký và thanh toán trước 6 tháng: Giảm: 10% phí dịch vụ.</span></strong></em></p>
