<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <tim-kiem
        :is-tim-kiem-sidebar-active.sync="isTimKiemSidebarActive"
        @refetch-data="refetchData"
    />
    <khach-hang-list-add-new
      :is-add-new-user-sidebar-active.sync="isAddNewUserSidebarActive"
      @refetch-data="refetchData"
    />
    <xem-chi-tiet
      :is-xem-chi-tiet-sidebar-active.sync="isXemChiTietSidebarActive"
      @refetch-data="refetchData"
    />
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>Danh sách khách hàng</b-card-title>
        <b-dropdown
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="flat-primary"
          dropright
          text="Chức năng"
          :right="$store.state.appConfig.isRTL"
        >
          <b-dropdown-item @click="isAddNewUserSidebarActive = true">
            <feather-icon
              icon="UserPlusIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Thêm khách hàng</span>
          </b-dropdown-item>

          <b-dropdown-item @click="timKiem()">
            <feather-icon
              icon="SearchIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Tìm kiếm</span>
          </b-dropdown-item>
          <b-dropdown-item @click="taiFile()">
            <feather-icon
              icon="DownloadIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Xuất file</span>
          </b-dropdown-item>
        </b-dropdown>
      </b-card-header>

      <b-table
        ref="refUserListTable"
        class="position-relative"
        empty-text="Không có dữ liệu"
        show-empty
        responsive="sm"
        stacked="md"
        :items="fetchUsers"
        :fields="tableColumns"
        :sort-by.sync="sortBy"
        primary-key="id"
        :sort-desc.sync="isSortDirDesc"
      >
        <!-- A virtual id column -->
        <template #cell(id)="data">
          <p class="text-right">
            {{ data.index+1 }}
          </p>
        </template>

        <!-- Column: vi_dien_tu -->
        <template #cell(vi_dien_tu)="data">
          <b-media vertical-align="center">
            <div class="text-right">
              <b-badge
                pill
                variant="light-success"
                class="text-capitalize"
              >{{ Number( data.item.vi_dien_tu).toLocaleString('vi', {minimumFractionDigits: 0}) }}</b-badge>
            </div>
          </b-media>
        </template>
        <!-- Column: Tên người dùng -->
        <template #cell(username)="data">
          <p class="text-right">
            {{ data.item.username }}
          </p>
        </template>

        <template #cell(hoten)="data">
          <b-link
              href="#"
              @click="xemChiTiet(data.item.id)"
          >
            {{ data.item.hoten }}
          </b-link>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown
            variant="link"
            no-caret
            dropright
            :right="$store.state.appConfig.isRTL"
          >

            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>

            <b-dropdown-item @click="xemChiTiet(data.item.id)">
              <feather-icon icon="EyeIcon" />
              <span class="align-middle ml-50">Chi tiết</span>
            </b-dropdown-item>

            <b-dropdown-item
              :disabled="Number(data.item.so_tien_da_thanh_toan) > 0 "
              @click="suaKhach(data.item.id)"
            >
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Sửa</span>
            </b-dropdown-item>
            <b-dropdown-item
              :disabled="Number(data.item.so_tien_da_thanh_toan) > 0"
              @click="xoaKhach(data.item.id)"
            >
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Xóa</span>
            </b-dropdown-item>

          </b-dropdown>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted">Dòng {{ dataMeta.from }} đến {{ dataMeta.to }} / {{ dataMeta.of }} bản ghi</span>
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >

            <b-pagination
              v-model="currentPage"
              :total-rows="totalUsers"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon
                  icon="ChevronLeftIcon"
                  size="18"
                />
              </template>
              <template #next-text>
                <feather-icon
                  icon="ChevronRightIcon"
                  size="18"
                />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>

  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BTable, BMedia, BPagination, BDropdown, BDropdownItem,
  BCardTitle, BBadge, BLink,
  BCardHeader,
} from 'bootstrap-vue'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
// eslint-disable-next-line import/extensions
import TimKiem from '@/views/users/khach-hang/TimKiem'
// eslint-disable-next-line import/extensions
import XemChiTiet from '@/views/users/khach-hang/XemChiTiet'
import { getUserData } from '@/auth/utils'
import KhachHangListAddNew from './KhachHangListAddNew.vue'
import useKhachHangList from './useKhachHangList'
import userStoreModule from '../userStoreModule'
// eslint-disable-next-line import/extensions

export default {
  directives: {
    Ripple,
  },
  components: {
    XemChiTiet,
    TimKiem,
    BBadge,
    BLink,
    KhachHangListAddNew,
    BCardTitle,
    BCardHeader,
    BCard,
    BRow,
    BCol,
    BTable,
    BMedia,
    BPagination,
    BDropdown,
    BDropdownItem,
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = 'app-user'

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    const isAddNewUserSidebarActive = ref(false)
    const isThanhToanThemSidebarActive = ref(false)
    const isRutTienSidebarActive = ref(false)
    const isTimKiemSidebarActive = ref(false)
    const isXemChiTietSidebarActive = ref(false)

    const {
      fieldsTimKiem,
      thucHienTimKiem,
      fetchUsers,
      xoaKhachHang,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useKhachHangList()

    const statusOptions = [
      { label: 'Pending', value: 'pending' },
      { label: 'Active', value: 'active' },
      { label: 'Inactive', value: 'inactive' },
    ]

    return {
      fieldsTimKiem,
      thucHienTimKiem,
      // Sidebar
      isAddNewUserSidebarActive,
      isThanhToanThemSidebarActive,
      isRutTienSidebarActive,
      isTimKiemSidebarActive,
      isXemChiTietSidebarActive,
      fetchUsers,
      xoaKhachHang,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      statusOptions,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    }
  },
  mounted() {
    this.$root.$on('timKiemKhachHang', data => {
      this.isTimKiemSidebarActive = false

      this.fieldsTimKiem = data
      this.thucHienTimKiem = true
      this.refetchData()
    })
  },
  methods: {
    xoaKhach(id) {
      this.$swal({
        title: 'Bạn có chắc chắn thực hiện việc này?',
        text: 'Dữ liệu sau khi xóa không thể phục hồi!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Đồng ý!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-danger ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.xoaKhachHang(id, () => {
            this.$refs.refUserListTable.refresh()
          }, () => {
            this.$store.state.showBlock = true
          }, () => {
            this.$store.state.showBlock = false
          }, (message, type) => {
            this.showToast(type, 'Thông báo', 'BellIcon', message)
          })
        }
      }).catch(() => {
      })
    },
    suaKhach(id) {
      this.isAddNewUserSidebarActive = true
      this.$root.$emit('updateKhach', id)
    },
    timKiem(id) {
      this.isTimKiemSidebarActive = true
      this.$root.$emit('timKhach', id)
    },
    xemChiTiet(id) {
      this.isXemChiTietSidebarActive = true
      this.$root.$emit('xemChiTiet', id)
    },
    taiFile() {
      const currentUser = getUserData()
      store.state.showBlock = true

      store
        .dispatch('app-user/taiFile', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
        })
        .then(response => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.chienDich = response.data.chienDich
        })
        .catch(e => {
          this.$refs.refChienDichListTable.refresh()
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
      this.$refs.refChienDichListTable.refresh()
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-sweetalert.scss';
</style>
