<template>
  <b-sidebar
    id="is-xem-chi-tiet-sidebar-active"
    :visible="isXemChiTietSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-xem-chi-tiet-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thông tin Khách hàng
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <!-- Tên đăng nhập -->
          <validation-provider
            #default="validationContext"
            name="Tên đăng nhập"
          >
            <b-form-group
              label="Tên đăng nhập"
              label-for="ten_dang_nhap"
            >
              <b-form-input
                id="ten_dang_nhap"
                v-model="userData.username"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Tên đăng nhập vào phần mềm"
                disabled="disabled"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!-- Họ tên -->
          <validation-provider
            #default="validationContext"
            name="Họ tên"
          >
            <b-form-group
              label="Họ tên"
              label-for="ho-ten"
            >
              <b-form-input
                id="full-name"
                v-model="userData.hoten"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Họ và tên đầy đủ"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Điện thoại -->
          <validation-provider
            #default="validationContext"
            name="Điện thoại"
          >
            <b-form-group
              label="Điện thoại"
              label-for="dien-thoai"
            >
              <b-form-input
                id="dien-thoai"
                v-model="userData.dien_thoai"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="0988xxxxxx"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Email -->
          <validation-provider
            #default="validationContext"
            name="Email"
          >
            <b-form-group
              label="Email"
              label-for="email"
            >
              <b-form-input
                id="email"
                v-model="userData.email"
                placeholder="Email"
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <!--  -->
            <validation-provider>
              <label>Chiến dịch đã đăng kí</label>
              <div
                  v-for="item in userData.chienDich"
                  :key="item.id"
              >
                <b-card
                    :img-src="item.image"
                    img-alt="Card image"
                    img-left
                    img-width="100"
                >
                  <b-link
                      :to="{ name: 'xem-chi-tiet-postback', params: { utm_source: item.utm_source } }"
                      class="font-weight-bold d-block text-nowrap text-primary"
                      style="padding-left: 6px"
                  >
                    {{ item.title }}
                  </b-link>
                  <b-card-text>
                    NTH: {{ moment(String(item.ngay_thuc_hien)).format('DD/MM/YYYY HH:mm:ss') }}<br>
                    <div v-if="item.note_status === 'Pending'">
                      Trạng thái:
                    <b-badge variant="light-warning">
                      Pending
                    </b-badge>
                  </div>
                    <div v-else-if="item.note_status === 'Rejected'">
                      Trạng thái:
                      <b-badge variant="light-danger">
                        Rejected
                      </b-badge>
                    </div>
                    <div v-else-if="item.note_status === 'Approved'">
                      Trạng thái:
                      <b-badge variant="light-success">
                        Approved
                      </b-badge>
                    </div>
                  </b-card-text>
                </b-card>
              </div>
            </validation-provider>
          <div class="mt-4" />
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BCard, BCardText, BBadge, BLink,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import moment from 'moment'

export default {
  components: {
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BCard,
    BCardText,
    BBadge,
    BLink,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isXemChiTietSidebarActive',
    event: 'update:is-xem-chi-tiet-sidebar-active',
  },
  props: {
    isXemChiTietSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      title: '',
      category: '',
      trang_thai: '',
      track_link: '',
      hoa_hong_tu_net: '',
      chi_phi_chien_dich: '',
      type_hoa_hong: '',
      category_arr: '',
      ten_danh_muc: '',
      conversion_requirements: '',
      image: '',
      typeOptions: [
        { value: 'Tiền mặt', label: 'Tiền mặt' },
        { value: 'Phần trăm', label: 'Phần trăm' },
      ],
      statusOptions: [
        { value: 'Hoạt động', label: 'Hoạt động' },
        { value: 'Không hoạt động', label: 'Không hoạt động' },
      ],
      typeDataOptions: [
        { value: '73', label: 'Kiếm tiền' },
        { value: '92', label: 'Vay tiền mùa dịch' },
        { value: '93', label: 'Dịch vụ tài chính' },
        { value: '88', label: 'Shopee' },
        { value: '89', label: 'Lazada' },
        { value: '90', label: 'Sendo' },
        { value: '91', label: 'Tiki' },
      ],

    }
  },
  mounted() {
    const currentUser = getUserData()
    this.$root.$on('xemChiTiet', id => {
      store.state.showBlock = true
      store
        .dispatch('app-user/loadAffiliate', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
          khachHang: id,
        })
        .then(response => {
          store.state.showBlock = false
          this.userData = response.data.user
          this.userData.chienDich = response.data.chienDich
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const loaiDanhMuc = [
      { label: 'Chi phí', value: 'Chi phí' },
      { label: 'Kho hàng', value: 'Kho hàng' },
    ]
    const blankUserData = {
      id: '',
      name: '',
      type: '',
      category: '',
      active: 1,
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true
      const oldKhuVucData = userData.value
      Object.assign(oldKhuVucData, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-user/getKhachHang', oldKhuVucData)
        .then(response => {
          showToast('success', 'Thông báo', 'BellIcon', response.data.content)
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
          store.state.showBlock = false
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
      this.$refs.refChienDichListTable.refresh()
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      moment,
      userData,
      loaiDanhMuc,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
  methods: {
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
