<template>
  <b-sidebar
    id="add-new-bao-cai-sidebar"
    :visible="isAddNewBaoCaoSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-bao-cao-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Thông tin
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >

          <!-- Trích lập -->
          <validation-provider
            #default="validationContext"
            name="Trích lập"
          >
            <b-form-group
              label="Trích lập"
              label-for="trich-lap"
            >
              <cleave
                id="trich-lap"
                v-model="userData.trich_lap"
                class="form-control"
                :raw="false"
                :state="getValidationState(validationContext)"
                :options="options.number"
                placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Tài sản -->
          <validation-provider
            #default="validationContext"
            name="Tài sản"
          >
            <b-form-group
              label="Tài sản"
              label-for="tai-san"
            >
              <cleave
                id="tai-san"
                v-model="userData.tai_san"
                class="form-control"
                :raw="false"
                :state="getValidationState(validationContext)"
                :options="options.number"
                placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Quỹ VP -->
          <validation-provider
            #default="validationContext"
            name="Quỹ VP"
          >
            <b-form-group
              label="Quỹ VP"
              label-for="quy-vp"
            >
              <cleave
                id="quy-vp"
                v-model="userData.quy_vp"
                class="form-control"
                :raw="false"
                :state="getValidationState(validationContext)"
                :options="options.number"
                placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Phúc lợi -->
          <validation-provider
            #default="validationContext"
            name="Phúc lợi"
          >
            <b-form-group
              label="Phúc lợi"
              label-for="phuc-loi"
            >
              <cleave
                id="phuc-loi"
                v-model="userData.phuc_loi"
                class="form-control"
                :raw="false"
                :state="getValidationState(validationContext)"
                :options="options.number"
                placeholder="10,000"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              <feather-icon
                icon="CloudIcon"
                class="mr-50"
              />
              Lưu lại
            </b-button>
          </div>

        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BForm, BFormGroup, BFormInvalidFeedback, BButton,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, alphaNum, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import countries from '@/@fake-db/data/other/countries'
import store from '@/store'
import { getUserData } from '@/auth/utils'
import { Vi } from 'flatpickr/dist/l10n/vn'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Cleave from 'vue-cleave-component'

export default {
  components: {
    Cleave,
    BSidebar,
    BForm,
    BFormGroup,
    BFormInvalidFeedback,
    BButton,

    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: 'isAddNewBaoCaoSidebarActive',
    event: 'update:is-add-new-user-sidebar-active',
  },
  props: {
    isAddNewBaoCaoSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      required,
      alphaNum,
      email,
      countries,
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
        locale: Vi, // locale for this instance only
      },
    }
  },
  mounted() {
    const currentUser = getUserData()
    this.$root.$on('updateBaoCao', () => {
      store.state.showBlock = true

      store
        .dispatch('app-thong-ke/load', {
          auth: currentUser.auth_key,
          uid: currentUser.id,
        })
        .then(response => {
          store.state.showBlock = false
          this.userData = response.data.result
        })
        .catch(e => {
          store.state.showBlock = false
          this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
        })
    })
  },
  created() {

  },
  setup(props, { emit }) {
    const currentUser = getUserData()
    const toast = useToast()

    const blankUserData = {
      trich_lap: '',
      tai_san: '',
      quy_vp: '',
      phuc_loi: '',
    }

    const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
    const resetuserData = () => {
      userData.value = JSON.parse(JSON.stringify(blankUserData))
    }
    const setUserData = user => {
      userData.value = user
    }

    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      if (userData.value.trich_lap === '' || userData.value.tai_san === '' || userData.value.quy_vp === '' || userData.value.phuc_loi === '') {
        showToast('danger', 'Thông báo', 'BellIcon', 'Vui lòng nhập đủ thông tin')
      } else {
        store.state.showBlock = true
        Object.assign(userData.value, {
          auth: currentUser.auth_key,
          uid: currentUser.id,
        })
        store.dispatch('app-thong-ke/save', userData.value)
          .then(response => {
            showToast('success', 'Thông báo', 'BellIcon', response.data.content)
            emit('refetch-data')
            emit('update:is-add-new-bao-cao-sidebar-active', false)
            store.state.showBlock = false
          })
          .catch(e => {
            if (typeof e.response !== 'undefined') {
              showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
            } else if (typeof e.message !== 'undefined') {
              showToast('danger', 'Thông báo', 'BellIcon', e.message)
            } else {
              showToast('danger', 'Thông báo', 'BellIcon', e)
            }
            store.state.showBlock = false
          })
      }
    }
    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      userData,
      onSubmit,
      refFormObserver,
      getValidationState,
      resetForm,
      setUserData,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
