<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>

    <b-card
      no-body
      m-0
    >
      <b-card-header>
        <b-card-title>BÁO CÁO TỔNG HỢP</b-card-title>

        <b-dropdown
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="flat-primary"
          dropright
          text="Chức năng"
          :right="$store.state.appConfig.isRTL"
        >
          <b-dropdown-item @click="taiFile">
            <feather-icon
              icon="DownloadCloudIcon"
              class="mr-50"
            />
            <span class="align-middle ml-50">Xuất Excel</span>
          </b-dropdown-item>
        </b-dropdown>
      </b-card-header>
      <b-card-body>

        <div
          ref="refThongKeTable"
          v-html="tableData"
        />
      </b-card-body>
    </b-card>

  </div>
</template>

<script>
import {
  BCard,
  BDropdown,
  BDropdownItem,
  BCardBody,
  BCardHeader,
  BCardTitle,
} from 'bootstrap-vue'

import { onUnmounted, ref } from '@vue/composition-api'
import store from '@/store'
import thongKeStoreModule from '@/views/thong-ke/thongKeStoreModule'
import Ripple from 'vue-ripple-directive'
import { getUserData } from '@/auth/utils'

export default {
  directives: {
    Ripple,
  },
  components: {
    BCardBody,
    BCardTitle,
    BCardHeader,
    BCard,
    BDropdown,
    BDropdownItem,
  },
  data() {
    return {
      tongTienDauTu: 0,
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
      },
      fieldColumns: [
        { key: 'goc_huy_dong', label: 'Gốc' },
        { key: 'lai_huy_dong', label: 'Lãi' },

        { key: 'goc_dao_han', label: 'Gốc' },
        { key: 'lai_dao_han', label: 'Lãi' },

        { key: 'goc_dai_han', label: 'Gốc' },
        { key: 'lai_dai_han', label: 'Lãi' },

        { key: 'goc_tra_gop', label: 'Gốc' },
        { key: 'lai_tra_gop', label: 'Lãi' },

        { key: 'tien_mat', label: 'Tiền mặt' },
        { key: 'tai_khoan', label: 'Tài khoản' },
      ],
    }
  },
  methods: {
    taiFile() {
      const currentUser = getUserData()
      store.state.showBlock = true
      store.dispatch('app-thong-ke/downloadExcel', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
        .then(response => {
          this.$swal({
            title: response.data.title,
            icon: 'info',
            html: response.data.content,
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText: 'Đóng lại',
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-outline-danger ml-1',
            },
            buttonsStyling: false,
          })
          store.state.showBlock = false
        })
        .catch(() => {
          store.state.showBlock = false
        })
    },
  },
  setup() {
    const currentUser = getUserData()
    const refThongKeListTable = ref(null)

    const refetchData = () => {
      refThongKeListTable.value.refresh()
    }

    const blankFormThongKeDaiLyData = {
      tongHuyDong: 0,
      tongChoVay: 0,
      tongSTK: 0,
      tongTK: 0,
      tongCash: 0,
      tongGuiGoc: 0,
      tongGuiLai: 0,
      vayCCGoc: 0,
      vayCCLai: 0,
    }
    const FormThongKeDaiLyData = ref(JSON.parse(JSON.stringify(blankFormThongKeDaiLyData)))
    const USER_APP_STORE_MODULE_NAME = 'app-thong-ke'
    const tableData = ref('')

    const resetuserData = () => {
      FormThongKeDaiLyData.value = JSON.parse(JSON.stringify(blankFormThongKeDaiLyData))
    }

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME, thongKeStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(USER_APP_STORE_MODULE_NAME)
    })

    store.dispatch('app-thong-ke/thongKeNgay', {
      auth: currentUser.auth_key,
      uid: currentUser.id,
    })
      .then(response => {
        tableData.value = response.data.ket_qua
        this.$refs.refDoanhSoTable.refresh()
        store.state.showBlock = false
      })
      .catch(e => {
        this.showToast('danger', 'Thông báo', 'BellIcon', e.message)
        store.state.showBlock = false
      })

    return {
      FormThongKeDaiLyData,
      resetuserData,
      tableData,
      refetchData,
      refThongKeListTable,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
@import '@core/scss/vue/libs/vue-select.scss';

</style>
