<template>
  <div>
    <BlockUI
      v-show="$store.state.showBlock"
      message="Vui lòng chờ trong giây lát"
    >
      <sweetalert-icon
        icon="loading"
        size="12"
      />
    </BlockUI>
    <b-card
      no-body
      class="mb-0"
    >
      <b-card-header>
        <b-card-title>{{ campaignData.id !== '' ? `Cập nhật Campaign` : 'Thêm Campaign' }}</b-card-title>
      </b-card-header>
      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <b-row>
            <b-col md="3">
              <!-- ma_chien_dich -->
              <validation-provider
                #default="validationContext"
                name="Mã chiến dịch"
                rules="required"
              >
                <b-form-group
                  label="Mã chiến dịch"
                  label-for="ma_chien_dich"
                >
                  <b-form-input
                    id="ma_chien_dich"
                    v-model="campaignData.ma_chien_dich"
                    autofocus
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="9">
              <!-- title -->
              <validation-provider
                #default="validationContext"
                name="title"
              >
                <b-form-group
                  label="Title"
                  label-for="title"
                >
                  <b-form-input
                    id="title"
                    v-model="campaignData.title"
                    autofocus
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>

          <b-row>
            <b-col md="3">
              <!-- Network -->
              <validation-provider
                #default="validationContext"
                name="network_id"
              >
                <b-form-group
                  label="Network"
                  label-for="network_id"
                  :state="getValidationState(validationContext)"
                >
                  <v-select
                    v-model="campaignData.network_id"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="networkOptions"
                    :clearable="true"
                    input-id="network_id"
                  />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="3">
              <!-- Offer Category -->
              <validation-provider
                #default="validationContext"
                name="offer_category"
              >
                <b-form-group
                  label="Offer Category"
                  label-for="offer_category"
                  :state="getValidationState(validationContext)"
                >
                  <v-select
                    v-model="campaignData.category_id"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="categoryOptions"
                    :clearable="true"
                    input-id="offer_category"
                  />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="3">
              <!-- Offer Type -->
              <validation-provider
                #default="validationContext"
                name="type_id"
              >
                <b-form-group
                  label="Offer Type"
                  label-for="type_id"
                  :state="getValidationState(validationContext)"
                >
                  <v-select
                    v-model="campaignData.type_id"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="typeOptions"
                    :clearable="true"
                    input-id="type_id"
                  />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="3">
              <!-- Device -->
              <validation-provider
                #default="validationContext"
                name="device_id"
              >
                <b-form-group
                  label="Device"
                  label-for="device_id"
                  :state="getValidationState(validationContext)"
                >
                  <v-select
                    v-model="campaignData.device_id"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="deviceOptions"
                    :clearable="true"
                    input-id="device_id"
                  />
                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>

          <!-- Track Link -->
          <validation-provider
            #default="validationContext"
            name="track_link"
          >
            <b-form-group
              label="Track Link"
              label-for="track_link"
            >
              <b-form-input
                id="track_link"
                v-model="campaignData.track_link"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Image -->
          <validation-provider
            #default="validationContext"
            name="image"
          >
            <b-form-group
              label="Image"
              label-for="image"
            >
              <b-form-input
                id="image"
                v-model="campaignData.image"
                autofocus
                :state="getValidationState(validationContext)"
                trim
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <b-row>
            <b-col md="3">
              <!-- vi_tri_hien_thi -->
              <validation-provider
                #default="validationContext"
                name="vi_tri_hien_thi"
              >
                <b-form-group
                  label="Vị trí hiện thị"
                  label-for="vi_tri_hien_thi2"
                >
                  <b-form-input
                    id="vi_tri_hien_thi2"
                    v-model="campaignData.vi_tri_hien_thi"
                    autofocus
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col md="3">
              <!-- vi_tri_hien_thi -->
              <validation-provider
                #default="validationContext"
                name="Phí network"
              >
                <b-form-group
                  label="Phí network"
                  label-for="chi_phi_chien_dich"
                >
                  <cleave
                    id="vi_tri_hien_thi"
                    v-model="campaignData.chi_phi_chien_dich"
                    class="form-control"
                    :raw="false"
                    :state="getValidationState(validationContext)"
                    :options="options.number"
                    placeholder="10,000"
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col md="1">
              <!-- active -->
              <b-form-group
                label="Active"
                label-for="active"
              >
                <b-form-checkbox
                  v-model="campaignData.active"
                  class="mr-0"
                  switch
                  inline
                />
              </b-form-group>
            </b-col>

            <b-col md="1">
              <!-- Request -->
              <b-form-group
                label="Request"
                label-for="request"
              >
                <b-form-checkbox
                  v-model="campaignData.Request"
                  class="mr-0"
                  switch
                  inline
                />
              </b-form-group>
            </b-col>

            <b-col md="1">
              <!-- Request -->
              <b-form-group
                label="Nổi bật"
                label-for="noi_bat"
              >
                <b-form-checkbox
                  v-model="campaignData.noi_bat"
                  class="mr-0"
                  switch
                  inline
                />
              </b-form-group>
            </b-col>
          </b-row>

          <!-- Preview offer -->
          <validation-provider
            #default="validationContext"
            name="preview_offer"
          >
            <b-form-group
              label="Preview Offer"
              label-for="preview_offer"
            >
              <quill-editor
                v-model="campaignData.preview_offer"
                :options="editorOption"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- conversion requirements -->
          <validation-provider
            #default="validationContext"
            name="conversion_requirements"
          >
            <b-form-group
              label="Conversion Requirements"
              label-for="conversion_requirements"
            >
              <quill-editor
                v-model="campaignData.conversion_requirements"
                :options="editorOption"
              />
              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              Lưu lại
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              :to="{name: 'kiem-tien'}"
            >
              Hủy
            </b-button>
          </div>
        </b-form>
      </validation-observer>
    </b-card>
  </div>
</template>

<script>
// eslint-disable-next-line
import 'quill/dist/quill.core.css'
// eslint-disable-next-line
import 'quill/dist/quill.snow.css'
// eslint-disable-next-line
import 'quill/dist/quill.bubble.css'

import {
  BForm, BFormGroup, BFormInvalidFeedback, BFormInput, BRow, BCol,
  BCard, BCardTitle, BCardHeader, BButton, BFormCheckbox,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref, onUnmounted } from '@vue/composition-api'
import store from '@/store'
import formValidation from '@core/comp-functions/forms/form-validation'
import { quillEditor } from 'vue-quill-editor'
import Ripple from 'vue-ripple-directive'
import { required } from '@validations'
import { getUserData } from '@/auth/utils'
import { useToast } from 'vue-toastification/composition'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
// eslint-disable-next-line import/no-cycle
import router from '@/router'
import vSelect from 'vue-select'
import Cleave from 'vue-cleave-component'
import { Vi } from 'flatpickr/dist/l10n/vn'
import chienDichStoreModule from './chienDichStoreModule'

export default {
  directives: {
    Ripple,
  },
  components: {
    Cleave,
    vSelect,
    ValidationProvider,
    ValidationObserver,
    BCardTitle,
    BCardHeader,
    BFormInput,
    BCard,
    BForm,
    BFormGroup,
    BFormInvalidFeedback,
    BButton,
    BRow,
    BCol,
    BFormCheckbox,
    quillEditor,
  },
  data() {
    return {
      configDate: {
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'd/m/Y',
        altInput: true,
        dateFormat: 'Y-m-d',
        locale: Vi, // locale for this instance only
      },
      required,
      ActiveOptions: [
        { value: 1, label: 'ON' },
        { value: 0, label: 'OFF' },
      ],
      PercentOptions: [
        { value: 'Phần trăm', label: 'Phần trăm' },
        { value: 'Tiền mặt', label: 'Tiền mặt' },
      ],
      editorOption: {
        theme: 'snow',
      },
      options: {
        creditCard: {
          creditCard: true,
        },
        date: {
          date: true,
          delimiter: '-',
          datePattern: ['Y', 'm', 'd'],
        },
        phone: {
          phone: true,
          phoneRegionCode: 'US',
        },
        time: {
          time: true,
          timePattern: ['h', 'm', 's'],
        },
        number: {
          numeral: true,
          numeralThousandsGroupStyle: 'thousand',
        },
        block: {
          blocks: [4, 3, 3],
          uppercase: true,
        },
        delimiter: {
          delimiter: '·',
          blocks: [3, 3, 3],
          uppercase: true,
        },
        customDelimiter: {
          delimiters: ['.', '.', '-'],
          blocks: [3, 3, 3, 2],
          uppercase: true,
        },
        prefix: {
          prefix: '+63',
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
    }
  },
  setup() {
    const blankCampaignData = {
      id: '',
      ma_chien_dich: '',
      title: '',
      network_id: '',
      category_id: '',
      type_id: '',
      device_id: '',
      track_link: '',
      preview_offer: '',
      image: '',
      hoa_hong_tu_net: '',
      type_hoa_hong: '',
      Capped: '',
      Request: '',
      active: '',
      conversion_requirements: '',
      noi_bat: '',
      vi_tri_hien_thi: '',
      url: '',
      domain: window.location.host,
      chi_phi_chien_dich: '',
    }

    const campaignData = ref(JSON.parse(JSON.stringify(blankCampaignData)))

    const CHIEN_DICH_APP_STORE_MODULE_NAME = 'app-chien-dich'

    const resetuserData = () => {
      campaignData.value = JSON.parse(JSON.stringify(blankCampaignData))
    }

    const taoUrl = () => {
      blankCampaignData.value.url = `${blankCampaignData.value.Postback_Affsub_id_0}=${blankCampaignData.value.Postback_Affsub_id_1}&${blankCampaignData.value.Postback_Credit_0}=${blankCampaignData.value.Postback_Credit_1}&${blankCampaignData.value.Postback_Offer_0}=${blankCampaignData.value.Postback_Offer_1}`
    }

    // Register module
    if (!store.hasModule(CHIEN_DICH_APP_STORE_MODULE_NAME)) store.registerModule(CHIEN_DICH_APP_STORE_MODULE_NAME, chienDichStoreModule)

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(CHIEN_DICH_APP_STORE_MODULE_NAME)) store.unregisterModule(CHIEN_DICH_APP_STORE_MODULE_NAME)
    })

    const currentUser = getUserData()
    const toast = useToast()

    const networkOptions = ref([])
    const categoryOptions = ref([])
    const typeOptions = ref([])
    const deviceOptions = ref([])
    const showToast = (variant, titleNotification, iconNotification, contentNotification) => {
      toast({
        component: ToastificationContent,
        props: {
          title: titleNotification,
          icon: iconNotification,
          text: contentNotification,
          variant,
        },
      })
    }

    const onSubmit = () => {
      store.state.showBlock = true

      Object.assign(campaignData.value, {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      store.dispatch('app-chien-dich/save', campaignData.value)
        .then(response => {
          store.state.showBlock = false
          if (campaignData.value.id !== '') {
            router.replace('/kiem-tien')
              .then(() => {
                showToast('success', 'Thông báo', 'BellIcon', response.data.content)
              })
              .catch(() => {
              })
          } else {
            showToast('success', 'Thông báo', 'BellIcon', response.data.content)
            resetuserData()
          }
        })
        .catch(e => {
          if (typeof e.response !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
          } else if (typeof e.message !== 'undefined') {
            showToast('danger', 'Thông báo', 'BellIcon', e.message)
          } else {
            showToast('danger', 'Thông báo', 'BellIcon', e)
          }
          store.state.showBlock = false
        })
    }

    store
      .dispatch('app-chien-dich/fetchOption', {
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
      .then(response => {
        const {
          network, category, type, device,
        } = response.data
        networkOptions.value = network
        categoryOptions.value = category
        typeOptions.value = type
        deviceOptions.value = device
      })
      .catch(() => {
      })

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    if (router.currentRoute.params.id !== undefined) {
      store.state.showBlock = true

      store.dispatch('app-chien-dich/load', {
        chienDich: router.currentRoute.params.id,
        auth: currentUser.auth_key,
        uid: currentUser.id,
      })
        .then(response => {
          campaignData.value = response.data.result
          store.state.showBlock = false
        })
        .catch(error => {
          if (error.response.status === 404) {
            resetuserData()
          }
          store.state.showBlock = false
        })
    }

    return {
      networkOptions,
      categoryOptions,
      typeOptions,
      deviceOptions,
      taoUrl,
      onSubmit,
      campaignData,

      refFormObserver,
      getValidationState,
      resetForm,
    }
  },
  mounted() {
  },
}
</script>

<style>

</style>
