<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">

      <!-- Brand logo-->
      <b-link class="brand-logo">
        <vuexy-logo />

        <h2 class="brand-text text-primary ml-1">
          VietLixi
        </h2>
      </b-link>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col
        lg="8"
        class="d-none d-lg-flex align-items-center p-5"
      >
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <b-img
            fluid
            :src="imgUrl"
            alt="Register V2"
          />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Register-->
      <b-col
        lg="4"
        class="d-flex align-items-center auth-bg px-2 p-lg-5"
      >
        <b-col
          sm="8"
          md="6"
          lg="12"
          class="px-xl-2 mx-auto"
        >
          <b-card-title class="mb-1">
            Đăng ký tài khoản
          </b-card-title>

          <!-- form -->
          <validation-observer
            ref="registerForm"
            #default="{invalid}"
          >
            <b-form
              class="auth-register-form mt-2"
              @submit.prevent="register"
            >
              <!-- username -->
              <b-form-group
                label="Họ tên"
                label-for="register-hoten"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Họ tên"
                  vid="hoten"
                  rules="required"
                >
                  <b-form-input
                    id="register-hoten"
                    v-model="hoten"
                    name="register-hoten"
                    :state="errors.length > 0 ? false:null"
                    placeholder="Họ và tên đầy đủ"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- username -->
              <b-form-group
                label="Tên đăng nhập"
                label-for="register-username"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Tên đăng nhập"
                  vid="username"
                  rules="required"
                >
                  <b-form-input
                    id="register-username"
                    v-model="username"
                    name="register-username"
                    :state="errors.length > 0 ? false:null"
                    placeholder="Viết thường, không dấu, không ký tự đặc biệt, không dấu cách"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- password -->
              <b-form-group
                label-for="register-password"
                label="Mật khẩu"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Mật khẩu"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid':null"
                  >
                    <b-form-input
                      id="register-password"
                      v-model="password"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      :state="errors.length > 0 ? false:null"
                      name="register-password"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        :icon="passwordToggleIcon"
                        class="cursor-pointer"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- email -->
              <b-form-group
                label="Điện thoại"
                label-for="register-dien_thoai"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Điện thoại"
                  vid="dien_thoai"
                >
                  <b-form-input
                    id="register-dien_thoai"
                    v-model="dien_thoai"
                    name="register-dien_thoai"
                    :state="errors.length > 0 ? false:null"
                    placeholder="0966867186"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- email -->
              <b-form-group
                label="Email"
                label-for="register-email"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  vid="email"
                >
                  <b-form-input
                    id="register-email"
                    v-model="userEmail"
                    name="register-email"
                    :state="errors.length > 0 ? false:null"
                    placeholder="email@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- Địa chỉ -->
              <b-form-group
                label="Địa chỉ"
                label-for="register-dia_chi"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Địa chỉ"
                  vid="dia_chi"
                >
                  <b-form-input
                    id="register-dia_chi"
                    v-model="dia_chi"
                    name="register-dia_chi"
                    :state="errors.length > 0 ? false:null"
                    placeholder=""
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <b-form-group>
                <b-form-checkbox
                  id="register-privacy-policy"
                  v-model="status"
                  name="checkbox-1"
                >
                  Tôi đồng ý
                  <b-link> các điều khoản trên </b-link>
                </b-form-checkbox>
              </b-form-group>

              <b-button
                variant="primary"
                block
                type="submit"
                :disabled="invalid"
              >
                Đăng ký
              </b-button>
            </b-form>
          </validation-observer>

          <p class="text-center mt-2">
            <span>Bạn đã có tài khoản?</span>
            <b-link :to="{name:'auth-login'}">
              <span>&nbsp;Đăng nhập</span>
            </b-link>
          </p>
        </b-col>
      </b-col>
    <!-- /Register-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import {
  BRow, BCol, BLink, BButton, BForm, BFormCheckbox, BFormGroup, BFormInput, BInputGroup, BInputGroupAppend, BImg, BCardTitle,
} from 'bootstrap-vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import store from '@/store/index'
import useJwt from '@/auth/jwt/useJwt'
import axios from 'axios'
import config from '@/config.json'

export default {
  components: {
    VuexyLogo,
    BRow,
    BImg,
    BCol,
    BLink,
    BButton,
    BForm,
    BCardTitle,
    BFormCheckbox,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    // validations
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      status: '',
      username: '',
      hoten: '',
      dia_chi: '',
      dien_thoai: '',
      userEmail: '',
      password: '',
      sideImg: require('@/assets/images/pages/register-v2.svg'),
      // validation
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  methods: {
    register() {
      this.$refs.registerForm.validate().then(success => {
        if (success) {
          const bodyFormData = new FormData()
          bodyFormData.set('username', this.username)
          bodyFormData.set('password', this.password)
          bodyFormData.set('dien_thoai', this.dien_thoai)
          bodyFormData.set('dia_chi', this.dia_chi)
          bodyFormData.set('hoten', this.hoten)
          this.$store.state.showBlock = true
          axios.post(`${config.apiUrl.mainUrl}store-api/register`, bodyFormData, {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          })
            .then(response => {
              this.$store.state.showBlock = false
              const userLogged = response.data.user
              useJwt.setToken(response.data.accessToken)
              useJwt.setRefreshToken(response.data.accessToken)
              localStorage.setItem('userData', JSON.stringify(response.data.userData))
              Object.assign(userLogged, {
                ability: [
                  {
                    action: 'manage',
                    subject: 'all',
                  },
                ],
              })
              localStorage.setItem('userData', JSON.stringify(userLogged))
              this.$ability.update([
                {
                  action: 'manage',
                  subject: 'all',
                },
              ])
              this.$router.replace('/')
                .then(() => {
                  this.showToast('success', `Chào mừng ${response.data.user.hoten} đăng nhập thành công`, 'BellIcon', 'Bạn đã đăng nhập thành công!')
                })
                .catch(error => {
                  this.$refs.loginForm.setErrors(error.response.data.error)
                })
            }).catch(e => {
              this.$store.state.showBlock = false
              this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
            })
            .catch(e => {
              this.$store.state.showBlock = false
              this.showToast('danger', 'Thông báo', 'BellIcon', e.response.data.message)
              this.$refs.registerForm.setErrors(e.response.data.error)
            })
        }
      })
    },
  },
}
/* eslint-disable global-require */
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
